{% extends 'base.html' %}

{% load static %}  <!-- Загрузите статические теги -->

{% block title %}Сформированная заявка{% endblock %}

{% block content_body %}
    <div class="order-container">
        <h1 class="order-title">Список картин на экспертизу</h1>

        <div class="order-details">
            

            <div class="order-items">
                {% for painting in data %}
                <div class="order-item">
                    <div class="item-image">
                        <!-- Предполагаем, что путь к изображению формируется из id -->
                        <img src="{{ painting.img_path }}" alt="{{ painting.title }}" class="painting-img"> 
                    </div>
                    <div class="item-details">
                        <h5>{{ painting.title }}</h5>
                       
                        <a href="{% url 'painting_detail' painting.id %}" class="item-more">Подробнее</a>
                    </div>
                    <div class="item-comment">
                        <label for="comment_{{ painting.id }}">Комментарий на экспертизу:</label>
                        <textarea id="comment_{{ painting.id }}" name="comment_{{ painting.id }}" rows="3" placeholder="Введите комментарий"></textarea>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
