{% extends 'base.html' %}

{% block title %}{{ painting.title }}{% endblock %}

{% block content_body %}
    <div class="component-detail">  
        <img src="{{ painting.img_path }}" alt="{{ painting.title }}" class="component-img"> 
        
        <div class="component-info"> 
            <h1>{{ painting.title }}</h1>
            
            <p>{{ painting.description }}</p> 
            <p class="price-info"><strong>Стоимость:</strong> {{ painting.price }} руб.</p> 
        </div>
    </div>
{% endblock %}
